.detail {
  .wrapper {
    margin-bottom: 100px;
    position: relative;
    height: 100vh;
  }
  table {
    border-collapse: collapse;
    border: 1px solid gray;

    td {
      text-align: center;
    }
    .dateColumn {
      min-width: 80px;
    }
  }

  .operate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 20px;
  }
}
